.app-nav .MuiPaper-root {
  background-color: white;
}
  
.app-nav .nav-item .MuiTypography-root {
  font-weight: 400;
}

.app-nav .nav-item {
  text-decoration: none;
  color: #949CAD;

}

#root{
  background-color: #F6F6FA;
  color: black;
  font-family: 'Inter', sans-serif;
}

.app-auth>.MuiGrid-root {
  height: 100%;
}

.auth-bg {
  background-color: #F6F6FA;
}

.auth-bg img {
  height: 75%;
}

.auth-subheading {
  padding: 2rem 1rem;
  text-align: center;
  font-weight: 500;
}

.auth-heading {
  font-weight: 700;
}
.form-control {
  background-color: #E7EAF3 !important;
  border-color: transparent !important;
}
.auth-form .form-label {
  color: #949CAD;
  font-size: 1.25rem;
}

.auth-form .form-check-input:checked,
.auth-form .auth-submit {
  background-color: #6C63FF !important;
}
.page-header {
  font-size: 2rem;
  font-weight: 700;
}

.icon-wrapper {
  cursor: pointer;
  background-color: #E7EAF3;
  color: black;
  border-radius: 8px;
  padding: 0.35rem;
  border: 1px transparent solid;
}

.icon-wrapper:hover{
  border-color: lightgray;
}

.modal {
  --bs-modal-zindex: 99999;
}
.modal-backdrop {
  --bs-backdrop-zindex: 99998;
}