.app-nav .MuiPaper-root {
  background-color: white;
}

.app-main {
  height: 100%;
  background-color: #F6F6FA;
  color: black;
  font-family: 'Inter', sans-serif;
}

.app-auth>.MuiGrid-root {
  height: 100%;
}
.auth-bg {
  background-color: #F6F6FA;
}

.auth-bg img {
  height: 75%;
}

.auth-subheading {
  padding: 2rem 1rem;
  text-align: center;
  font-weight: 500;
}

.auth-heading {
  font-weight: 700;
}
.auth-form .form-control {
  background-color: #E7EAF3 !important;
  border-color: transparent !important;
}
.auth-form .form-label {
  color: #949CAD;
  font-size: 1.25rem;
}

.auth-form .form-check-input:checked,
.auth-form .auth-submit {
  background-color: #6C63FF !important;
}